doctype html
head
  meta(charset='UTF-8')
  title SOON share
  link(href='https://fonts.googleapis.com/css?family=Gothic+A1',rel='stylesheet')
  style
    include main.css
    include 404.css
  body
    main
      h1
        img(src='http://soonforever.co/assets/img/soon.png', width=160)
        | share
      h2 404 - Not Found
      section
        div
          a.button.inverted(href='https://itunes.apple.com/app/id939751975')
            img(src='http://soonforever.co/assets/img/header/appstore.png', height=42)
        div
          a(href='http://soonforever.co/') Go to soonforever.co
