header {
  background: linear-gradient(-30deg, #e60ba1, #ff6663);
  padding: 98px 0 68px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 202px;
  height: 202px;
  border-radius: 101px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item {
  width: 560px;
  height: 130px;
  background-color: white;
  border-radius: 15px;
  margin: 16px;
  display: flex;
  overflow: hidden;
}

.item .cover {
  width: 130px;
  height: 130px;
}

.item .cover:hover {
  opacity: 0.5,
}

.item .content {
  flex: 1;
  padding: 16px;
}

.item .title {
  color: #202024;
  font-weight: bold;
}
