head
  style
    include download-app-banner.css

.container
  .wrapper
    .left-section
      img.logo(src='http://soonforever.co/assets/img/soon-w.png', width=54)
      p Create your own soon list!
    .right-section
      button.button.inverted Download
