@font-face {
  font-family: 'Apercu';
  font-weight: 400;
  src: url('./assets/fonts/apercu/apercu-regular-webfont.ttf') format('ttf');
}

body, html {
  height: 100%;
  margin: 0;
  background-color: #FAFAFA;
  font-family: 'Apercu', sans-serif;
  line-height: 1.5;
  color: #323541;
}

.wrapper {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1, h2, p, section, footer {
  text-align: center;
}

h1 > img {
  padding-right: 16px;
}

p {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

a:not(.button):hover {
  border-bottom: 2px solid #323541;
}

.button {
  opacity: 1;
  transition: opacity 0.2s;
  border-radius: 50px;
  border: none;
  padding: 0.6em 1.4em;
  font-size: 0.8em;
}

.button:hover {
  opacity: 0.6;
}

.button.inverted {
  border: 3px solid white;
  background-color: transparent;
  color: white;
}

.button.primary {
  color: white;
  background-color: #007aff;
}

.button.secondary {
  color: #323541;
  background-color: #efefef;
  font-weight: bold;
}

.button > img {
  margin-top: 10px;
}

.or {
  margin: 20px 0;
}
