doctype html
head
  meta(charset='UTF-8')
  title SOON share
  link(href='https://fonts.googleapis.com/css?family=Gothic+A1',rel='stylesheet')
  style
    include no-app.css
  body
    main
      h1
        img(src='http://soonforever.co/assets/img/soon.png', width=160)
        | share
      p.intro Soon is your everyday bucket list, you can access this shared list using the iOS mobile app
      section
        div
          a.button(href='https://itunes.apple.com/app/id939751975')
            img(src='http://soonforever.co/assets/img/header/appstore.png', height=42)
        div.or
          | or
        div
          a(href='http://soonforever.co/') Go to soonforever.co
